.doc {

	&__top {
		margin-bottom: 70px;
		&_item {
			display: flex;
			.img {
				margin-right: 20px;
				width: 140px;
				height: 140px;
				background-color: #ccc;

				flex: 0 0 auto;

			}

			.descr {
				font-size: 30px;
				line-height: 40px;
				font-weight: 500;

				.name {
					font-weight: 500;
				}

				.btn {
					font-weight: 500;
					display: block;

					margin-bottom: 20px;
					@include ease-03;

					&:hover {
						color: var(--light_blue);
						text-decoration: underline;
					}
				}
			}
		}
	}

	&__main {

			&_tabs {
				display: flex;
				justify-content: space-between;
				background-color: var(--light_blue);
				margin-bottom: 40px;

				.doc__tab {
					color: #fff;
					font-weight: 600;
					cursor: pointer;
					padding: 18px 30px;
				}
			}

			&_contents {

				.doc__content {

					&_item {
						display: flex;
						margin-bottom: 30px;

						.img {
							width: 140px;
							height: 140px;
							background-color: #ccc;
							margin-right: 20px;
							flex: 0 0 auto;
						}

						.descr {
							display: flex;
							flex-direction: column;
							justify-content: space-between;
							font-size: 30px;
							line-height: 35px;
							&__top {
								display: flex;
								&_left {
									margin-right: 40px;
								}
							}

							&__btn {
								a {
									text-decoration: underline;
								}
							}	
						}
					}
				}
			}
	}
}


@media (max-width: 1750px) {

	.doc {

		&__top {

			&_item {

				.descr {
					font-size: 20px;
							line-height: 25px;
				}
			}
		}

		&__main {

			&_contents {

				.doc__content {

					&_item {

						.descr {
							font-size: 20px;
							line-height: 25px;
						}
					}
				}
			}
			
		}
	}
}

@media (max-width: 1275px) {

	.doc {
		padding-left: 130px;
	}
}

@media (max-width: 1000px) {
	.doc {
		&__top {
			&_item {
				flex-direction: column;

				.img {
					// width: 100%;
					// max-width: 300px;
					margin-right: 0;
					margin-bottom: 5px;
				}
			}
		}
		&__main {

			&_tabs {
				flex-wrap: wrap;
				background-color: #fff;
				.doc__tab {
					background-color: var(--light_blue);
					width: 100%;
					margin-bottom: 20px;
				}
			}
			&_contents {

				.doc__content {

					&_item {

					}
				}
			}
			
		}
	}
}

@media (max-width: 600px) {

	.doc {

		padding-left: 60px;



		&__main {

			&_contents {

				.doc__content {
					.img {
						margin-bottom: 10px;
					}
					.descr {

						&__top {
							flex-direction: column;

							.item {
								margin-bottom: 10px;
							}
						}
					}
				}
			}
		}
	}
}


@media (max-width: 400px) {

	.doc {

		&__main {
			&_tabs {

				.doc__tab {
					font-size: 20px;
					line-height: 25px;
				}
			}
			&_contents {

				.doc__content {

					&_item {
						flex-direction: column;
					}
				}

			}
		}
	}
}